@model AutoShop.Models.Dealer
@{
    ViewData["Title"] = "Редактиране на дилър";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2><i class="bi bi-pencil-square"></i> Редактиране на дилър</h2>

<form asp-action="Edit" method="post" class="w-50 mx-auto">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="PhoneNumber" class="form-label"></label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Address" class="form-label"></label>
        <input asp-for="Address" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Запази</button>
    <a href="@Url.Action("All")" class="btn btn-secondary">Отказ</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
